[phases.setup]
nixPkgs = [
  "php82",
  "php82Packages.composer",
  "nodejs_18"
]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "php artisan migrate --force && php artisan config:clear && php artisan route:clear && php artisan view:clear && php-fpm"
