@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* FONT */
    --font-sans: 'Poppins', 'Instrument Sans', ui-sans-serif, system-ui;

    /* COLORS */        
    --color-secondary: #10B981;
    --color-accent: #3B82F6;

    --color-primary: #1A509A;
    --color-primary-hover: #4A77F4;
    --color-whitebg: #FFFFFF;
    --color-graybg: #FAF9FA;

    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;

    /* SHADES */
    --color-surface: #FFFFFF;
    --color-background: #F3F4F6;
    --color-muted: #6B7280;
    --color-border: #E5E7EB;

    /* RADIUS */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;
    --radius-full: 9999px;

    /* SHADOW */
    --shadow-soft: 0 4px 14px rgba(0,0,0,0.08);
    --shadow-card: 0 8px 20px rgba(0,0,0,0.12);
}
